/* star1 */

.wrapper{
  width: 250px;
  margin: 0 auto;
  text-align: center;
  line-height: 30x;
  height: auto;
  font-size: 180px;

}
.wrapper i{
  color: red;
  animation: star 0.5s linear infinite;
  margin-top: 35%;
}
  @keyframes star{
    0%{transform: scale()}
    50%{transform: scale(0.9,1)}
    /* 100%{transform: scale(0.9,0.9)} */
  }
  /* star2 */

  .wrapper2{
    width: 250px;
    margin: 0 auto;
    text-align: center;
    line-height: 30x;
    height: auto;
    font-size: 180px;
  
  }
  .wrapper2 i{
    color: red;
    animation: star2 0.5s linear infinite;
    margin-top: 35%;
  }
    @keyframes star2{
      0%{transform: scale()}
      50%{transform: scale(0,1)}
    }

      /*star3*/

      .wrapper3{
        width: 250px;
        margin: 0 auto;
        text-align: center;
        line-height: 30x;
        height: auto;
        font-size: 180px;
      
      }
      .wrapper3 i{
        color: red;
        animation: star3 0.5s;
        margin-top: 35%;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
        animation-duration: 2.5s;
        animation-direction: alternate;
      }

      @keyframes star3 {
        from {
          transform: scale(1.5);
            transform:rotate(0deg);
        }
        to {
          transform: scale(1.5);
            transform:rotate(360deg);
        }
    }

    /* star4 */

  .wrapper4 {
    width: 250px;
    margin: 0 auto;
    text-align: center;
    /* min-height: 500px; */
    line-height: 40px;
    height: auto;
    font-size: 185px;
  }
  .wrapper4 i{
    color: red ;
    animation: wrapper4 0.5s linear infinite;
    margin-top: 35%;
  }
  
    
     @keyframes wrapper4 {
      0%{transform: scale(1,1)}
      50%{transform: scale(0.9,0)}
     }

     /* star5 */

     .wrapper5 {
      width: 250px;
      margin: 0 auto;
      text-align: center;
      /* min-height: 500px; */
      line-height: 40px;
      height: auto;
      font-size: 185px;
    }
    .wrapper5 i{
      color: red ;
      animation: wrapper5 0.5s linear infinite;
      margin-top: 35%;
    }
    
      
       @keyframes wrapper5 {
        0%{transform: scale(1,0.9)}
        50%{transform: scale(1.2,1.2)}
       }


       /*star6*/

       .wrapper6 {
        width: 250px;
        margin: 0 auto;
        text-align: center;
        line-height: 40px;
        height: auto;
        font-size: 185px;
      }
      .wrapper6 i{
        color: red ;
        animation: wrapper6 0.6s linear infinite;
        margin-top: 35%;
      }
      
        
         @keyframes wrapper6 {
          0%{transform: scale(2.0.9)}
          50%{transform: scale(0.9,1.2)}
          100%{transform: scale(0.9,1.2)}
          50%{transform: scale(0.9,1.2)}
         }

  /* star7 */
    
  
  .wrapper7{
         width: 250px;
        margin: 0 auto;
        text-align: center;
        line-height: 40px;
        height: auto;
        font-size: 205px;
  
  }
  .wrapper7 i{
    color: red;
    animation: wrapper7 0.5s linear infinite;
    margin-top: 35%;
  }

  @keyframes wrapper7{
    0%{transform: scale()}
    100%{transform: scale(0.9,0.9)}
    50%{transform: scale(1.0,0.9)}
  }
  
    /*star8*/
    .wrapper8 {
      width: 250px;
      margin: 0 auto;
      text-align: center;
      line-height: 40px;
      height: auto;
      font-size: 185px;
    }
    .wrapper8 i{
      color: red ;
      animation: wrapper8 0.9s linear infinite;
      margin-top: 35%;
    }

    @keyframes wrapper8{
      0%{transform: scale()}
      100%{transform: scale(0.9,0.9)}
      100%{transform: scale(0.4,0.9)}
      40%{transform: scale(0.9,0.5)}
      /* 50%{transform: scale(0.9,0.9)} */
  }
    /* star9 */
  .wrapper9{
    width: 250px;
   margin: 0 auto;
   text-align: center;
   line-height: 40px;
   height: auto;
   font-size: 205px;

}
        .wrapper9 i{
        color: red;
        animation: wrapper9 0.9s linear infinite;
        margin-top: 35%;
        } 

        @keyframes wrapper9{
        0%{transform: scale()}
        100%{transform: scale(0.9,0.9)}
        50%{transform: scale(0.6,0.9)}
        100%{transform: scale(0.8,0.5)}
    }


    /* star10 */

    .wrapper10{
      width: 250px;
      margin: 0 auto;
      text-align: center;
      line-height: 30x;
      height: auto;
      font-size: 180px;
    
    }
    .wrapper10 i{
      color: red;
      animation: wrapper10 0.9s linear infinite;
      margin-top: 35%;
    }
      @keyframes wrapper10{
        0%{transform: scale()}
        0%{transform: scale(0.9,1)}
        /* 100%{transform: scale(0.9,0.9)} */
        0% {
          transform: scale(.3);
          background-color: rgb(245, 248, 248);
          border-radius: 100%;
        }
      }


  
  body,
  html {
    top: 100%;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }